body {
    background-color: #222222;
}

p {
    color: white;
    padding: 15px;
    font-family: Verdana, sans-serif;
}

ul {
    display: flex;
    list-style-type: none;
    font-family: Verdana, sans-serif;
    color: white
}

h1 {
    color: white;
    font-family: Verdana, sans-serif;
}

h2 {
    color: black;
    font-family: Verdana, sans-serif;
}

.container {
    width: 1040px;
    margin: 0 auto;
    padding: 0;
}

.container-flex {
    display: flex;
    justify-content: center;
}

li {
    color: white;
}

.site-menu {
    display: flex;
    flex-wrap: wrap;
    width: 660px;
    margin: 0;
    margin-top: 25px;
    margin-left: 50px;
    padding: 0;
    list-style: none;
}

.site-menu a {
    display: block;
    margin-right: 40px;
    font-size: 14px;
    text-decoration: none;
    color: #d4d4d4;
}

.site-menu a:hover {
    color: white;
}

.site-menu a:active {
    color: #ccc;
}

.advantages {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: #131313;
    margin: 0 auto;
    padding: 0;
}

.footer-menu {
    display: flex;
    justify-content: space-around;
    margin: 0;
    padding: 0;
}

.footer-submenu {
    display: block;
}

a {
    color: #d4d4d4;
}

.c-flex {
    display: flex;
    justify-content: space-between;
}

.about-us {
    width: 300px;
}

h3 {
    color: white;
    font-family: Verdana, sans-serif;
}

.likee {
    width: 200px;
}

.tiktok {
    width: 400px;
}

.coulms {
    flex-direction: column;
}

.timetable {
    padding: 80px 0;
    color: #ffffff;
    background-color: #222222;
}

.classicho {
    color: #feca30;
}

.btn {
    position: relative;
    font-family: Verdana, sans-serif;
    display: inline-block;
    width: 195px;
    padding: 0 25px;
    font-weight: bold;
    font-size: 14px;
    line-height: 50px;
    text-decoration: none;
    text-transform: uppercase;
    vertical-align: top;
    color: #222222;
    cursor: pointer;
    border: none;
    border-radius: 50px;
}

.btn::after {
    content: "";
    position: absolute;
    right: 20px;
    top: 17px;
    width: 19px;
    height: 16px;
    height: 16px;
    background-repeat: no-repeat;
    background-position: 0 0;

}

.btn-yellow {
    background-color: #feca30;
}

.btn-yellow:hover {
    background-color: white;
}

.btn-yellow:active {
    background-color: #c1a300;
}

.btn-grey {
    width: 215px;
}

.phonefonk {
    margin-left: 20px;
    margin-top: 20px;
}

.margarin {
    margin-top: 100px;
    margin-bottom: 75px;
}

.luna {
    margin-bottom: 10px;
}

.nadoelo {
    margin-left: 20px;
}


.tipa {

    background-color: white;
}

.pi {
    color: black;
}

.dolgo {
    margin-bottom: 30px;
    margin-top: 30px;
    font-size: 15px;
}

header {
    padding-top: 50px;
    padding-bottom: 50px;
}

.beluy {
    background-color: white;
}

.cher {
    background-color: black;
}

.zhelt {
    color: #feca30;
    font-size: 20px;
}

.ras {
    display: flex;
    justify-content: space-between;
}
